body{
  font-family: Helvetica;
  text-align: center;
}

.Home{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a{
  font-size: 18px;
  color: white;
}

h2.Process{
  font-size: 32px;
  font-weight: bold;
  }

h3.Process{
    font-size: 23px;
    font-weight: bold;
  }

p{
    font-size: 14px;
  }

h2{
    font-size: 23px;
    font-weight: bold;
    color: white;
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  }

h3.Work{
    font-size: 23px;
    font-weight: bold;
  }

h3.Team{
  font-size: 23px;
  font-weight: bold;
}

h3.Contact{
  font-size: 23px;
  font-weight: bold;
}

.Footer{
  font-size: 11px;
  color: white;
  background-color: dimgrey;
}

.Footer a{
  color: white;
}
